veggie_hive_device_integration_flow.json
[{"id":"3eeca35.d00705c","type":"tab","label":"veggie_hive_device_integration_flow","disabled":false,"info":""},{"id":"66b10035.a53a8","type":"inject","z":"3eeca35.d00705c","name":"Manual_Trigger","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":false,"onceDelay":"5","x":190,"y":680,"wires":[["f1a9b30d.53047"]]},{"id":"d164fd90.4e7c9","type":"change","z":"3eeca35.d00705c","name":"Set_Request_Parameters","rules":[{"t":"set","p":"filemode","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["a66f2223.ce999"]]},{"id":"a66f2223.ce999","type":"camerapi-takephoto","z":"3eeca35.d00705c","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Capture_Image","x":640,"y":240,"wires":[["16d95506.53316b","fc8ea30d.52152","573f8e99.43afd"]]},{"id":"f1a9b30d.53047","type":"rpi-dht22","z":"3eeca35.d00705c","name":"Read_Humidity_Temperature","topic":"HT_01","dht":"22","pintype":"0","pin":"4","x":440,"y":680,"wires":[["9a11a39c.14213","fecb8904.46dbf8","7be6146c.3945ec"]]},{"id":"9a11a39c.14213","type":"change","z":"3eeca35.d00705c","name":"Set_Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"slotId\": $globalContext('settings.slotId'),\t   \"creationTimestamp\":$now('[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01]'),\t   \"environmentData\": {\t        \"temperature\": {\t            \"value\": $.payload,\t            \"unit\": \"°C\"\t        },\t        \"humidity\": {\t            \"value\": $.humidity,\t            \"unit\": \"RH\"\t        }\t    }\t}\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"slotEnvEvents","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":600,"wires":[["a075755b.03b548"]]},{"id":"57c30479.9e7f1c","type":"json","z":"3eeca35.d00705c","name":"Convert_To_JSON","property":"payload","action":"str","pretty":true,"x":1250,"y":360,"wires":[["37805dff.0d1ae2","8b75e23f.ad787"]]},{"id":"c3af1e1d.380ee","type":"inject","z":"3eeca35.d00705c","name":"Manual_Trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["d164fd90.4e7c9"]]},{"id":"16d95506.53316b","type":"change","z":"3eeca35.d00705c","name":"Set_Response","rules":[{"t":"set","p":"localFilename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"bucket","pt":"msg","to":"veggie-hive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":160,"wires":[["7a3d7908.74d4f8"]]},{"id":"7a3d7908.74d4f8","type":"amazon s3 out","z":"3eeca35.d00705c","aws":"","bucket":"veggie-hive","filename":"","localFilename":"","region":"ap-south-1","name":"Upload_Image","x":1040,"y":160,"wires":[]},{"id":"367fcc44.d4a984","type":"change","z":"3eeca35.d00705c","name":"Set_Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"slotId\": $globalContext('settings.slotId'),\t   \"creationTimestamp\":$.timestamp,\t   \"imageUrl\": $globalContext('settings.imageRepo') &  $.filename\t}","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"slotImageEvents","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":360,"wires":[["57c30479.9e7f1c"]]},{"id":"1345acbe.fb39f3","type":"ui_gauge","z":"3eeca35.d00705c","name":"Temperature_Widget","group":"55bc65ea.28131c","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":660,"wires":[]},{"id":"1d543471.bf37ec","type":"ui_gauge","z":"3eeca35.d00705c","name":"Humidity_Widget","group":"bc2a3fd3.3bea7","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"g/m3","format":"{{value}}","min":"0","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":740,"wires":[]},{"id":"61bd50df.f7e0e","type":"ui_chart","z":"3eeca35.d00705c","name":"Temperatue_History_Widget","group":"90fd9d3f.b5a5","order":2,"width":0,"height":0,"label":"Temperatue History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":700,"wires":[[]]},{"id":"fecb8904.46dbf8","type":"change","z":"3eeca35.d00705c","name":"Set_Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":760,"wires":[["1d543471.bf37ec","b0f72c5f.527cd"]]},{"id":"b0f72c5f.527cd","type":"ui_chart","z":"3eeca35.d00705c","name":"Humidity_History_Widget","group":"a41a93fd.ef936","order":1,"width":0,"height":0,"label":"Humidity History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"70","ymax":"90","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":780,"wires":[[]]},{"id":"7be6146c.3945ec","type":"change","z":"3eeca35.d00705c","name":"Set_Response","rules":[{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":680,"wires":[["1345acbe.fb39f3","61bd50df.f7e0e"]]},{"id":"1cfdb96.bb3c847","type":"ui_media","z":"3eeca35.d00705c","group":"c134cff7.b8e87","name":"Vegetables","width":0,"height":0,"order":1,"category":"","file":"","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1030,"y":240,"wires":[[]]},{"id":"fc8ea30d.52152","type":"change","z":"3eeca35.d00705c","name":"Set_Response","rules":[{"t":"set","p":"src","pt":"msg","to":"$globalContext('settings.imageRepo') &  $.filename","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"veggie/vegitable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":240,"wires":[["1cfdb96.bb3c847"]]},{"id":"cc14c462.df6ff8","type":"ui_form","z":"3eeca35.d00705c","name":"Setting_Widget","label":"","group":"f599eb3d.7178a8","order":1,"width":"10","height":"1","options":[{"label":"Slot Id","value":"slotId","type":"text","required":true,"rows":null},{"label":"Image Repo","value":"imageRepo","type":"text","required":false,"rows":null}],"formValue":{"slotId":"","imageRepo":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":60,"wires":[["4b6b069.54e83f8"]]},{"id":"4b6b069.54e83f8","type":"change","z":"3eeca35.d00705c","name":"Set_Settings","rules":[{"t":"set","p":"settings","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[[]]},{"id":"37805dff.0d1ae2","type":"debug","z":"3eeca35.d00705c","name":"Log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":340,"wires":[]},{"id":"92f9fd44.0b188","type":"http request","z":"3eeca35.d00705c","name":"Get_Image_Analysis_Data","method":"POST","ret":"txt","paytoqs":false,"url":"https://vision.googleapis.com/v1/images:annotate?key=APPKEY","tls":"","proxy":"","authType":"","x":1440,"y":300,"wires":[["1b57cf18.a8a841"]]},{"id":"a3f7400d.796d1","type":"change","z":"3eeca35.d00705c","name":"Set_Request","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t  \"requests\":[\t    {\t      \"image\":{\t        \"source\":{\t          \"imageUri\":\t            $globalContext('settings.imageRepo') &  $.filename\t        }\t      },\t       \"features\":[ \t            { \t               \"maxResults\":50,\t               \"type\":\"LOGO_DETECTION\"\t            },\t            { \t               \"maxResults\":50,\t               \"type\":\"LABEL_DETECTION\"\t            },\t            { \t               \"maxResults\":50,\t               \"type\":\"IMAGE_PROPERTIES\"\t            }\t         ]\t    }\t  ]\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":300,"wires":[["510f4ec0.b2c6f"]]},{"id":"510f4ec0.b2c6f","type":"delay","z":"3eeca35.d00705c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":300,"wires":[["92f9fd44.0b188"]]},{"id":"e44aee2d.80e82","type":"inject","z":"3eeca35.d00705c","name":"Manual_Trigger","topic":"","payload":"{\"slotId\":\"002\",\"imageRepo\":\"https://veggie-hive.s3.ap-south-1.amazonaws.com/\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"5","x":180,"y":120,"wires":[["4b6b069.54e83f8"]]},{"id":"e96d88b8.677808","type":"change","z":"3eeca35.d00705c","name":"Set_Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"slotId\": $globalContext('settings.slotId'),\t   \"creationTimestamp\":$.timestamp,\t   \"analysisData\": $.payload\t}","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"slotAnalysisEvents","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":300,"wires":[["9c79fae0.e68d28"]]},{"id":"a075755b.03b548","type":"json","z":"3eeca35.d00705c","name":"Convert_To_JSON","property":"payload","action":"str","pretty":true,"x":890,"y":600,"wires":[["bb0781e4.83a9c","2fa72359.55a33c"]]},{"id":"bb0781e4.83a9c","type":"debug","z":"3eeca35.d00705c","name":"Log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":580,"wires":[]},{"id":"573f8e99.43afd","type":"change","z":"3eeca35.d00705c","name":"Set_Response","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01]')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":320,"wires":[["367fcc44.d4a984","a3f7400d.796d1"]]},{"id":"9c79fae0.e68d28","type":"json","z":"3eeca35.d00705c","name":"Convert_To_JSON","property":"payload","action":"str","pretty":true,"x":2110,"y":300,"wires":[["8902588.a3d8ca8","bf12a437.c15bb8"]]},{"id":"8902588.a3d8ca8","type":"debug","z":"3eeca35.d00705c","name":"Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2290,"y":280,"wires":[]},{"id":"8b75e23f.ad787","type":"aws-mqtt out","z":"3eeca35.d00705c","device":"b3613fce.68413","topic":"","qos":0,"x":1470,"y":380,"wires":[]},{"id":"2fa72359.55a33c","type":"aws-mqtt out","z":"3eeca35.d00705c","device":"b3613fce.68413","topic":"","qos":0,"x":1110,"y":620,"wires":[]},{"id":"bf12a437.c15bb8","type":"aws-mqtt out","z":"3eeca35.d00705c","device":"b3613fce.68413","topic":"","qos":0,"x":2330,"y":320,"wires":[]},{"id":"1b57cf18.a8a841","type":"json","z":"3eeca35.d00705c","name":"Convert_To_JSON","property":"payload","action":"","pretty":false,"x":1690,"y":300,"wires":[["e96d88b8.677808"]]},{"id":"55bc65ea.28131c","type":"ui_group","z":"","name":"Temperature","tab":"aea338ab.80a0f8","order":2,"disp":false,"width":"10","collapse":false},{"id":"bc2a3fd3.3bea7","type":"ui_group","z":"","name":"Humidity","tab":"aea338ab.80a0f8","order":4,"disp":false,"width":"10","collapse":false},{"id":"90fd9d3f.b5a5","type":"ui_group","z":"","name":"Temperature History","tab":"aea338ab.80a0f8","order":3,"disp":false,"width":"10","collapse":false},{"id":"a41a93fd.ef936","type":"ui_group","z":"","name":"Humidity History","tab":"aea338ab.80a0f8","order":5,"disp":false,"width":"10","collapse":false},{"id":"c134cff7.b8e87","type":"ui_group","z":"","name":"Live","tab":"aea338ab.80a0f8","order":1,"disp":true,"width":"10","collapse":true},{"id":"f599eb3d.7178a8","type":"ui_group","z":"","name":"Device Setting","tab":"81bf818b.16fd","order":1,"disp":true,"width":"10","collapse":false},{"id":"b3613fce.68413","type":"aws-iot-device","z":"","name":"AWS MQTT Broker","mode":"broker","clientId":"40edcb93af","endpoint":"a20gtia0ng513s-ats.iot.ap-southeast-1.amazonaws.com","awscerts":"/home/pi/VeggieHive/"},{"id":"aea338ab.80a0f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"81bf818b.16fd","type":"ui_tab","z":"","name":"Configure","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
